<div class="body">
    <div class="navbar">
      <a [routerLink]="['/']">Trang chủ</a> / <span>Chính sách đổi trả</span>
    </div>
  
    <div class="title">Chính sách đổi trả</div>
    <div class="privacy-policy">
      <p>
        Nhằm mang lại cho khách hàng trải nghiệm mua sắm tốt và sự hài lòng về chất lượng sản phẩm, COZA STORE xin thông báo đến quý khách CHÍNH SÁCH ĐỔI TRẢ SẢN PHẨM chi tiết như sau:
      </p>
  
      <h2>Điều kiện đổi trả</h2>
      <p>
        COZA STORE luôn hỗ trợ khách hàng đổi trả sản phẩm trong thời gian quy định và theo đúng quy trình.
      </p>
      <ol>
        <li>
          <strong>Thời gian:</strong> COZA STORE hỗ trợ đổi trả sản phẩm trong thời gian là 7 ngày (tính từ ngày khách nhận được hàng).
        </li>
        <li>
          <strong>Điều kiện:</strong>
          <ul>
            <li>Sản phẩm chưa qua sử dụng (còn nguyên tem mác)</li>
            <li>Sản phẩm lỗi do quá trình sản xuất</li>
            <li>Sản phẩm không thuộc chương trình sale</li>
            <li>Sản phẩm không thuộc nhóm đồ lót</li>
          </ul>
        </li>
      </ol>
  
      <h2>Quy trình đổi trả</h2>
      <ol>
        <li>
          <strong>Cùng mã sản phẩm (chỉ đổi size, đổi màu):</strong> Đổi miễn phí
        </li>
        <li>
          <strong>Đổi khác mã sản phẩm (tính theo giá trị tại thời điểm đổi hàng):</strong>
          <ul>
            <li>Sản phẩm được đổi phải có giá trị ngang bằng hoặc cao hơn</li>
            <li>Không hoàn lại tiền thừa trong trường hợp sản phẩm được chọn để đổi có giá trị thấp hơn sản phẩm đổi</li>
          </ul>
        </li>
      </ol>
      <p><strong>Lưu ý:</strong></p>
      <ul>
        <li>Sản phẩm do lỗi sản xuất, tư vấn: mọi chi phí vận chuyển do COZA STORE chi trả</li>
        <li>Lý do khác: mọi chi phí vận chuyển do khách hàng chi trả (Lỗi sản xuất là lỗi xuất hiện trước khi dùng sản phẩm)</li>
      </ul>
  
      <p><em>Mọi thắc mắc khách hàng vui lòng liên hệ:</em></p>
      <ul>
        <li>Hotline CSKH: 028.999.999.00</li>
        <li>Fanpage: <a href="https://www.facebook.com/profile.php?id=100055303461129" target="_blank">facebook.com/cozasrotre</a></li>
      </ul>
    </div>
  </div>
  