<footer class="bg3 p-t-75 p-b-32">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3 p-b-50 map" style="padding-bottom:0px">
        <h4 class="stext-301 cl0 p-b-30" style="
              padding-bottom: 0px;
    font-size: 35px; font-weight: 700;
    position: relative;
    top: -20px;">COZA <span style="    font-weight: 400;
    font-family: 'Poppins-ExtraLight';
"> STORE</span></h4>

        <p class="stext-107 cl7 size-201" style="margin-bottom:10px">
          <i class="zmdi zmdi-pin"></i>
          Địa chỉ: 8 Bà Triệu, Phường Xuân Phú, Thành phố Huế, Tỉnh Thừa Thiên
          Huế
        </p>

        <p class="stext-107 cl7 size-201"  style="margin-bottom:10px">
          <i class="zmdi zmdi-smartphone-iphone"></i>
          Số điện thoại: 0999888777
        </p>

          

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3826.1650274831395!2d107.59757417496391!3d16.467179384271507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141a180c286546f%3A0x281aa347621eaaff!2zU2hvcCAtIEhvYSDEkeG7kyBi4buZ!5e0!3m2!1svi!2s!4v1715681747126!5m2!1svi!2s"
          width="250"
          height="150"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        
      </div>

      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30" style="margin-left: 30px">
          Chính sách
        </h4>

        <ul>
          <li class="p-b-10">
            <a
            [routerLink]="['/chinhsachdoitra']"
             class="stext-107 cl7 hov-cl1 trans-04">
              Chính sách đổi trả
            </a>
          </li>

          <li class="p-b-10">
            <a
              [routerLink]="['/chinhsachbaomat']"
              class="stext-107 cl7 hov-cl1 trans-04"
            >
              Chính sách bảo mật
            </a>
          </li>
          <li class="p-b-10">
            <a
              [routerLink]="['/chinhsachbaomat']"
              class="stext-107 cl7 hov-cl1 trans-04"
            >
              Chính sách giao nhận
            </a>
          </li>
          <li class="p-b-10">
            <a
              [routerLink]="['/chinhsachbaomat']"
              class="stext-107 cl7 hov-cl1 trans-04"
            >
              Chính sách thanh toán
            </a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30" style="margin-left: 30px">
          Hướng dẫn
        </h4>

        <ul>
          <li class="p-b-10">
            <a 
            [routerLink]="['/huongdanmuahang']"
            class="stext-107 cl7 hov-cl1 trans-04">
              Hướng dẫn mua hàng
            </a>
          </li>

          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
              Hướng dẫn thanh toán
            </a>
          </li>

          <li class="p-b-10">
            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
              Hướng dẫn giao nhận
            </a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">Đăng ký nhận ưu đãi</h4>

        <form>
          <div class="wrap-input1 w-full p-b-4">
            <input
              class="input1 bg-none plh1 stext-107 cl7"
              type="text"
              name="email"
              placeholder="email@example.com"
            />
            <div class="focus-input1 trans-04"></div>
          </div>

          <div class="p-t-18">
            <button
              class="flex-c-m stext-101 cl0  bg1 bor1 hov-btn2 p-lr-15 trans-04"
              style="padding: 6px 26px;"
            >
              Subscribe
            </button>
          </div>
          <p class="stext-107 cl7 size-201 size-respone">
            <i class="fa fa-facebook" style="margin-top: 10px; margin-bottom: 10px;"></i>
            Fanpage: 
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100055303461129&tabs&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=327069823466586" width="100%" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        
          </p>
        </form>
      </div>
    </div>

    <div class="p-t-40">
      <div class="flex-c-m flex-w p-b-18">
        <a href="#" class="m-all-1">
          <img
            src="../../../assets/images/icons/icon-pay-01.png"
            alt="ICON-PAY"
          />
        </a>

        <a href="#" class="m-all-1">
          <img
            src="../../../assets/images/icons/icon-pay-02.png"
            alt="ICON-PAY"
          />
        </a>

        <a href="#" class="m-all-1">
          <img
            src="../../../assets/images/icons/icon-pay-03.png"
            alt="ICON-PAY"
          />
        </a>

        <a href="#" class="m-all-1">
          <img
            src="../../../assets/images/icons/icon-pay-04.png"
            alt="ICON-PAY"
          />
        </a>

        <a href="#" class="m-all-1">
          <img
            src="../../../assets/images/icons/icon-pay-05.png"
            alt="ICON-PAY"
          />
        </a>
      </div>

      <p class="stext-107 cl6 txt-center">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        All rights reserved | Made with
        <i class="fa fa-heart-o" aria-hidden="true"></i> by
        <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp;
        distributed by
        <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
    </div>
  </div>
</footer>
