<!-- Slider -->
<section class="section-slide">
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          [src]="'../../../assets/images/slide-05.jpg'"
          class="slider-img d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <div class="container h-full">
            <div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
              <div
                class="layer-slick1 animated"
                data-appear="fadeInDown"
                data-delay="0"
              >
                <span class="ltext-202 txt-center cl0 respon2">
                  Women Collection 2018
                </span>
              </div>

              <div
                class="layer-slick1 animated"
                data-appear="fadeInUp"
                data-delay="800"
              >
                <h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
                  New arrivals
                </h2>
              </div>

              <div
                class="layer-slick1 animated"
                data-appear="zoomIn"
                data-delay="1600"
              >
                <a
                  href="product.html"
                  class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04"
                >
                  Shop Now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          [src]="'../../../assets/images/slide-06.jpg'"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <div class="container h-full">
            <div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
              <div
                class="layer-slick1 animated"
                data-appear="rotateInDownLeft"
                data-delay="0"
              >
                <span class="ltext-202 txt-center cl0 respon2">
                  Men Collection 2018
                </span>
              </div>

              <div
                class="layer-slick1 animated"
                data-appear="rotateInUpRight"
                data-delay="800"
              >
                <h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
                  NEW SEASON
                </h2>
              </div>

              <div
                class="layer-slick1 animated"
                data-appear="rotateIn"
                data-delay="1600"
              >
                <a
                  href="product.html"
                  class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04"
                >
                  Shop Now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          [src]="'../../../assets/images/slide-07.jpg'"
          class="slider-img d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <div class="container h-full">
            <div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
              <div
                class="layer-slick1 animated"
                data-appear="rollIn"
                data-delay="0"
              >
                <span class="ltext-202 txt-center cl0 respon2">
                  Men New-Season
                </span>
              </div>

              <div
                class="layer-slick1 animated"
                data-appear="lightSpeedIn"
                data-delay="800"
              >
                <h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
                  Jackets & Coats
                </h2>
              </div>

              <div
                class="layer-slick1 animated"
                data-appear="slideInUp"
                data-delay="1600"
              >
                <a
                  href="product.html"
                  class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04"
                >
                  Shop Now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- Banner -->
<div class="sec-banner bg0 p-t-95 p-b-55 mt-5" style="padding-bottom: 0px">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-b-30 m-lr-auto">
        <!-- Block1 -->
        <div class="block1 wrap-pic-w">
          <img
            src="../../../assets/images/image-banner1.png"
            alt="IMG-BANNER"
            class="img-banner"
          />

          <a
            (click)="shopnow(categories[0]._id)"
            class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3"
          >
            <div class="block1-txt-child1 flex-col-l">
              <span class="block1-name ltext-102" style="margin-bottom: 10px">
                Bộ dài
              </span>

              <span
                *ngIf="categories && categories.length > 1"
                class="block1-info stext-102 trans-04 category-descrip"
              >
                {{ categories[0].note }}
              </span>
            </div>

            <div class="block1-txt-child2 p-b-4 trans-05">
              <div class="block1-link stext-101 cl0 trans-09">Shop Now</div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 p-b-30 m-lr-auto">
        <!-- Block1 -->
        <div class="block1 wrap-pic-w">
          <img
            src="../../../assets/images/image-banner2.png"
            alt="IMG-BANNER"
            class="img-banner"
          />

          <a
            (click)="shopnow(categories[2]._id)"
            class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3"
          >
            <div class="block1-txt-child1 flex-col-l">
              <span class="block1-name ltext-102" style="margin-bottom: 10px">
                Bộ lửng
              </span>

              <span
                *ngIf="categories && categories.length > 1"
                class="block1-info stext-102 trans-04 category-descrip"
              >
                {{ categories[2].note }}
              </span>
            </div>

            <div class="block1-txt-child2 p-b-4 trans-05">
              <div class="block1-link stext-101 cl0 trans-09">Shop Now</div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
        <!-- Block1 -->
        <div class="block1 wrap-pic-w">
          <img
            src="../../../assets/images/image-banner3.png"
            alt="IMG-BANNER"
            class="img-banner"
          />

          <a
            (click)="shopnow(categories[1]._id)"
            class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3"
          >
            <div class="block1-txt-child1 flex-col-l">
              <span class="block1-name ltext-102 trans-04 p-b-8"> Bộ đùi </span>

              <span
                *ngIf="categories && categories.length > 1"
                class="block1-info stext-102 trans-04 category-descrip"
              >
                {{ categories[1].note }}
              </span>
            </div>

            <div class="block1-txt-child2 p-b-4 trans-05">
              <div class="block1-link stext-101 cl0 trans-09">Shop Now</div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
        <!-- Block1 -->
        <div class="block1 wrap-pic-w">
          <img
            src="../../../assets/images/image-banner4.png"
            alt="IMG-BANNER"
            class="img-banner"
          />

          <a
            (click)="shopnow(categories[3]._id)"
            class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3"
          >
            <div class="block1-txt-child1 flex-col-l">
              <span class="block1-name ltext-102 trans-04 p-b-8">Pijama </span>

              <span
                *ngIf="categories && categories.length > 1"
                class="block1-info stext-102 trans-04 category-descrip"
              >
                {{ categories[3].note }}
              </span>
            </div>

            <div class="block1-txt-child2 p-b-4 trans-05">
              <div class="block1-link stext-101 cl0 trans-09">Shop Now</div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
        <!-- Block1 -->
        <div
          class="block1 wrap-pic-w"
          style="height: 284px; overflow: hidden; place-items: center"
        >
          <img
            src="../../../assets/images/image-banner5.png"
            alt="IMG-BANNER"
            class="img-banner"
          />

          <a
            (click)="shopnow(categories[4]._id)"
            class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3"
          >
            <div class="block1-txt-child1 flex-col-l">
              <span class="block1-name ltext-102 trans-04 p-b-8"> Đồ lam </span>

              <span
                *ngIf="categories && categories.length > 1"
                class="block1-info stext-102 trans-04 category-descrip"
              >
                {{ categories[4].note }}
              </span>
            </div>

            <div class="block1-txt-child2 p-b-4 trans-05">
              <div class="block1-link stext-101 cl0 trans-09">Shop Now</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product -->
<section class="bg0 p-t-23 p-b-130" id="product-overview">
  <div class="container">
    <div class="p-b-10">
      <h3 class="ltext-103 cl5">Tổng quan về sản phẩm</h3>
    </div>

    <div class="flex-w flex-sb-m p-b-5" >
      <div class="flex-w flex-l-m filter-tope-group m-tb-10">
        <button
          class="max-content stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1"
          data-filter="*"
          [ngClass]="{ 'how-active1': searchProductDto.categoryId === '' }"
          (click)="onButtonClick('')"
        >
          Tất cả
        </button>

        <ng-container *ngFor="let category of categories; let i = index">
          <button
            *ngIf="i <= 4"
            (click)="onButtonClick(category._id)"
            class="max-content stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
            data-filter=".women"
            [ngClass]="{
              'how-active1': searchProductDto.categoryId == category._id
            }"
          >
            {{ category.namecategory }}
          </button>
        </ng-container>

        <div id="form-hover" *ngIf="categories[5]">
          <button
            id="hoverOrther"
            class="max-content stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
            data-filter=".women"
            [ngClass]="{
              'how-active1': searchProductDto.categoryId == 'khac'
            }"
          >
            Khác
          </button>

          <div class="filter-col4 p-r-15 p-b-27" id="otherList">
            <ul id="ulList">
              <ng-container *ngFor="let category of categories; let i = index">
                <li class="p-b-6" *ngIf="i >= 5" style="width: fit-content">
                  <button
                    (click)="onButtonClick(category._id)"
                    class="max-content stext-106 cl6 hov1 bor3 trans-04 m-r-32 -5"
                    data-filter=".women"
                    [ngClass]="{
                      'how-active1': searchProductDto.categoryId == category._id
                    }"
                  >
                    {{ category.namecategory }}
                  </button>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>

      <div class="flex-w flex-c-m m-tb-10">
        <div
          class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter"
          (click)="showFilter()"
          [ngClass]="{ 'show-filter': isShowFilter }"
        >
          <i
            class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"
          ></i>
          <i
            class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"
          ></i>
          Lọc
        </div>

        <div
          class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search"
          (click)="showSearch()"
          [ngClass]="{ 'show-search': isShowSearch }"
        >
          <i
            class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"
            style="width: 14%"
          ></i>
          <i
            class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"
          ></i>
          Tìm kiếm
        </div>
      </div>

      <!-- Search product -->

      <div
        class="dis-none panel-search w-full p-t-10 p-b-15"
        [class.showTool]="isShowSearch"
      >
        <div class="bor8 dis-flex p-l-15">
          <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
            <i class="zmdi zmdi-search"></i>
          </button>

          <input
            class="mtext-107 cl2 size-114 plh2 p-r-15"
            type="text"
            name="search-product"
            placeholder="Tìm kiếm"
            [(ngModel)]="searchModel"
            (keyup.enter)="sendSearchQuery()"
          />
        </div>
      </div>
      <!-- Filter -->
      <div
        class="dis-none panel-filter w-full p-t-10"
        [class.showTool]="isShowFilter"
      >
        <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
          <div class="filter-col4 p-r-15 p-b-27">
            <div class="mtext-102 cl2 p-b-15">Sắp xếp</div>

            <ul>
              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="sortBy('banchay')"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.quantitySold === true
                  }"
                >
                  Bán chạy
                </button>
              </li>

              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="sortBy('moinhat')"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.newProduct === true
                  }"
                >
                  Mới nhất
                </button>
              </li>

              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="sortBy('caothap')"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.sortBy === -1
                  }"
                >
                  Giá: cao - thấp
                </button>
              </li>

              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04 filter-link-active"
                  (click)="sortBy('thapcao')"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.sortBy === 1
                  }"
                >
                  Giá: thấp - cao
                </button>
              </li>

              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04 filter-link-active"
                  (click)="sale()"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.sale != 0
                  }"
                >
                  <img
                    src="https://backendqlshop-1.onrender.com/images/saleicon.png"
                    style="height: 100px"
                    alt="sale"
                  />
                </button>
              </li>
            </ul>
          </div>

          <div class="filter-col4 p-r-15 p-b-27">
            <div class="mtext-102 cl2 p-b-15">Giá</div>

            <ul>
              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="sortByPrice(0, 0)"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.maxPrice === 0
                  }"
                >
                  Tất cả
                </button>
              </li>

              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="sortByPrice(0, 100000)"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.maxPrice === 100000
                  }"
                >
                  0₫ - 100.000₫
                </button>
              </li>

              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="sortByPrice(100000, 200000)"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.maxPrice === 200000
                  }"
                >
                  100.000₫ - 200.000₫
                </button>
              </li>

              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="sortByPrice(200000, 300000)"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.maxPrice === 300000
                  }"
                >
                  200.000₫ - 300.000₫
                </button>
              </li>

              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="sortByPrice(300000, 400000)"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.maxPrice === 400000
                  }"
                >
                  300.000₫ - 400.000₫
                </button>
              </li>

              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="sortByPrice(400000, 500000)"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.maxPrice === 500000
                  }"
                >
                  400.000₫ - 500.000₫
                </button>
              </li>
            </ul>
          </div>

          <div class="filter-col4 p-r-15 p-b-27">
            <div class="mtext-102 cl2 p-b-15">Màu</div>

            <ul>
              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04 filter-link-active"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.colors[0] == ''
                  }"
                  (click)="chooseColor('')"
                >
                  Tất cả
                </button>
              </li>
              <li class="p-b-6">
                <span
                  class="fs-15 lh-12 m-r-6"
                  style="color: red; font-size: 18px"
                >
                  <i class="zmdi zmdi-circle"></i>
                </span>

                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="chooseColor('đỏ')"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.colors.includes('đỏ')
                  }"
                >
                  Đỏ
                </button>
              </li>

              <li class="p-b-6">
                <span
                  class="fs-15 lh-12 m-r-6"
                  style="color: orange; font-size: 18px"
                >
                  <i class="zmdi zmdi-circle"></i>
                </span>

                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="chooseColor('cam')"
                  [ngClass]="{
                    'filter-link-active':
                      searchProductDto.colors.includes('cam')
                  }"
                >
                  Cam
                </button>
              </li>

              <li class="p-b-6">
                <span
                  class="fs-15 lh-12 m-r-6"
                  style="color: yellow; font-size: 18px"
                >
                  <i class="zmdi zmdi-circle"></i>
                </span>

                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="chooseColor('vàng')"
                  [ngClass]="{
                    'filter-link-active':
                      searchProductDto.colors.includes('vàng')
                  }"
                >
                  Vàng
                </button>
              </li>

              <li class="p-b-6">
                <span
                  class="fs-15 lh-12 m-r-6"
                  style="color: white; font-size: 18px"
                >
                  <i class="zmdi zmdi-circle"></i>
                </span>

                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="chooseColor('trắng')"
                  [ngClass]="{
                    'filter-link-active':
                      searchProductDto.colors.includes('trắng')
                  }"
                >
                  Trắng
                </button>
              </li>

              <li class="p-b-6">
                <span
                  class="fs-15 lh-12 m-r-6"
                  style="color: blue; font-size: 18px"
                >
                  <i class="zmdi zmdi-circle"></i>
                </span>

                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="chooseColor('xanh')"
                  [ngClass]="{
                    'filter-link-active':
                      searchProductDto.colors.includes('xanh')
                  }"
                >
                  Xanh dương
                </button>
              </li>

              <li class="p-b-6">
                <span
                  class="fs-15 lh-12 m-r-6"
                  style="color: purple; font-size: 18px"
                >
                  <i class="zmdi zmdi-circle"></i>
                </span>

                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="chooseColor('tím')"
                  [ngClass]="{
                    'filter-link-active':
                      searchProductDto.colors.includes('tím')
                  }"
                >
                  Tím
                </button>
              </li>
            </ul>
          </div>

          <div class="filter-col4 p-b-27">
            <div class="mtext-102 cl2 p-b-15">Size</div>

            <ul>
              <li class="p-b-6">
                <button
                  class="filter-link stext-106 trans-04 filter-link-active"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.sizes[0] == ''
                  }"
                  (click)="chooseSize('')"
                >
                  Tất cả
                </button>
              </li>

              <li class="p-b-6" style="display: flex">
                <input
                  type="checkbox"
                  id="sizeS"
                  style="height: 15px; margin-right: 10px; width: 15px"
                  (click)="chooseSize('S')"
                  [checked]="searchProductDto.sizes.includes('S')"
                />
                <label
                  for="sizeS"
                  class="filter-link stext-106 trans-04"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.sizes.includes('S')
                  }"
                >
                  S
                </label>
              </li>
              <li class="p-b-6" style="display: flex">
                <input
                  type="checkbox"
                  id="sizeM"
                  style="height: 15px; margin-right: 10px; width: 15px"
                  (click)="chooseSize('M')"
                  [checked]="searchProductDto.sizes.includes('M')"
                />
                <label
                  for="sizeM"
                  class="filter-link stext-106 trans-04"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.sizes.includes('M')
                  }"
                >
                  M
                </label>
              </li>
              <li class="p-b-6" style="display: flex">
                <input
                  type="checkbox"
                  id="sizeL"
                  style="height: 15px; margin-right: 10px; width: 15px"
                  (click)="chooseSize('L')"
                  [checked]="searchProductDto.sizes.includes('L')"
                />
                <label
                  for="sizeL"
                  class="filter-link stext-106 trans-04"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.sizes.includes('L')
                  }"
                >
                  L
                </label>
              </li>
              <li class="p-b-6" style="display: flex">
                <input
                  type="checkbox"
                  id="sizeXL"
                  style="height: 15px; margin-right: 10px; width: 15px"
                  (click)="chooseSize('XL')"
                  [checked]="searchProductDto.sizes.includes('XL')"
                />
                <label
                  for="sizeXL"
                  class="filter-link stext-106 trans-04"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.sizes.includes('XL')
                  }"
                >
                  XL
                </label>
              </li>
              <li class="p-b-6" style="display: flex">
                <input
                  type="checkbox"
                  id="sizeXXL"
                  style="height: 15px; margin-right: 10px; width: 15px"
                  (click)="chooseSize('XXL')"
                  [checked]="searchProductDto.sizes.includes('XXL')"
                />
                <label
                  for="sizeXXL"
                  class="filter-link stext-106 trans-04"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.sizes.includes('XXL')
                  }"
                >
                  XXL
                </label>
              </li>
            </ul>
          </div>

          <div class="filter-col4 p-r-15 p-b-27">
            <div class="mtext-102 cl2 p-b-15">Chất Liệu</div>

            <ul>
              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="chooseFabric('')"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.fabric === ''
                  }"
                >
                  Tất cả
                </button>
              </li>

              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="chooseFabric('lanh')"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.fabric === 'lanh'
                  }"
                >
                  Lanh
                </button>
              </li>

              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04"
                  (click)="chooseFabric('cotton')"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.fabric === 'cotton'
                  }"
                >
                  Cotton
                </button>
              </li>

              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04 filter-link-active"
                  (click)="chooseFabric('đũi')"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.fabric === 'đũi'
                  }"
                >
                  Đũi
                </button>
              </li>
              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04 filter-link-active"
                  (click)="chooseFabric('tăm')"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.fabric === 'tăm'
                  }"
                >
                  Tăm
                </button>
              </li>
              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04 filter-link-active"
                  (click)="chooseFabric('thô')"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.fabric === 'thô'
                  }"
                >
                  Chất thô
                </button>
              </li>
              <li class="p-b-6">
                <button
                  type="button"
                  class="filter-link stext-106 trans-04 filter-link-active"
                  (click)="chooseFabric('tơ')"
                  [ngClass]="{
                    'filter-link-active': searchProductDto.fabric === 'tơ'
                  }"
                >
                  Tơ
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="products.length; else notFound">
      <h4 class="fs-4 fw-bold mb-5" *ngIf="searchQuery.isSearch">
        Kết quả tìm kiếm của "{{ searchQuery.key }}"
      </h4>
      <!-- Products -->
      <div class="row isotope-grid">
        <div
          class="col-6 col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women"
          *ngFor="let product of products"
        >
          <!-- Block2 -->
          <app-product [product]="product"></app-product>
        </div>
      </div>

      <!-- Pagination -->
      <ul class="flex-c-m flex-w w-full p-t-38">
        <li *ngFor="let i of page">
          <a
            [ngClass]="{ 'active-pagination1': searchProductDto.page === i }"
            class="flex-c-m how-pagination1 page m-all-7"
            (click)="setPageCurrent(i)"
          >
            {{ i }}
          </a>
        </li>
      </ul>
    </ng-container>
    <ng-template #notFound>
      <h4 class="fs-4 fw-bold mb-5" *ngIf="searchQuery.isSearch">
        Kết quả tìm kiếm của "{{ searchQuery.key }}"
      </h4>
      <p class="text-center fw-bold">Không có sản phẩm nào!!!</p>
    </ng-template>
  </div>
</section>

<!-- Footer -->

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
  <span class="symbol-btn-back-to-top">
    <i class="zmdi zmdi-chevron-up"></i>
  </span>
</div>

<!-- Modal1 -->
<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
  <div class="overlay-modal1 js-hide-modal1"></div>

  <div class="container">
    <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
      <button class="how-pos3 hov3 trans-04 js-hide-modal1">
        <img src="../../../assets/images/icons/icon-close.png" alt="CLOSE" />
      </button>

      <div class="row">
        <div class="col-md-6 col-lg-7 p-b-30">
          <div class="p-l-25 p-r-30 p-lr-0-lg">
            <div class="wrap-slick3 flex-sb flex-w">
              <div class="wrap-slick3-dots"></div>
              <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 p-b-30">
          <div class="p-r-50 p-t-5 p-lr-0-lg">
            <h4 class="mtext-105 cl2 js-name-detail p-b-14">
              Lightweight Jacket
            </h4>

            <span class="mtext-106 cl2"> $58.79 </span>

            <p class="stext-102 cl3 p-t-23">
              Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus
              ligula. Mauris consequat ornare feugiat.
            </p>

            <!--  -->
            <div class="p-t-33">
              <div class="flex-w flex-r-m p-b-10">
                <div class="size-203 flex-c-m respon6">Size</div>

                <div class="size-204 respon6-next">
                  <div class="rs1-select2 bor8 bg0">
                    <select class="js-select2" name="time">
                      <option>Choose an option</option>
                      <option>Size S</option>
                      <option>Size M</option>
                      <option>Size L</option>
                      <option>Size XL</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                  </div>
                </div>
              </div>

              <div class="flex-w flex-r-m p-b-10">
                <div class="size-203 flex-c-m respon6">Color</div>

                <div class="size-204 respon6-next">
                  <div class="rs1-select2 bor8 bg0">
                    <select class="js-select2" name="time">
                      <option>Choose an option</option>
                      <option>Red</option>
                      <option>Blue</option>
                      <option>White</option>
                      <option>Grey</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                  </div>
                </div>
              </div>

              <div class="flex-w flex-r-m p-b-10">
                <div class="size-204 flex-w flex-m respon6-next">
                  <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                    <div
                      class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m"
                    >
                      <i class="fs-16 zmdi zmdi-minus"></i>
                    </div>

                    <input
                      class="mtext-104 cl3 txt-center num-product"
                      type="number"
                      name="num-product"
                      value="1"
                    />

                    <div
                      class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m"
                    >
                      <i class="fs-16 zmdi zmdi-plus"></i>
                    </div>
                  </div>

                  <button
                    class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail"
                  >
                    Add to cart
                  </button>
                </div>
              </div>
            </div>

            <!--  -->
            <div class="flex-w flex-m p-l-100 p-t-40 respon7">
              <div class="flex-m bor9 p-r-10 m-r-11">
                <a
                  href="#"
                  class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
                  data-tooltip="Add to Wishlist"
                >
                  <i class="zmdi zmdi-favorite"></i>
                </a>
              </div>

              <a
                href="#"
                class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                data-tooltip="Facebook"
              >
                <i class="fa fa-facebook"></i>
              </a>

              <a
                href="#"
                class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                data-tooltip="Twitter"
              >
                <i class="fa fa-twitter"></i>
              </a>

              <a
                href="#"
                class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                data-tooltip="Google Plus"
              >
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
