.main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
  height: 100vh;
  min-height: 100%;
  background-color: #f6f9ff;
}

@media (max-width: 1199px) {
  .main {
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .main,
  .footer {
    margin-left: 300px;
  }
}
