.main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
  height: 100vh;
  background-color: #f6f9ff;
}

.title-table {
  white-space: nowrap;
}

@media (max-width: 1199px) {
  .main {
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .main,
  .footer {
    margin-left: 300px;
  }
}

table {
  vertical-align: middle;
}

.table-title {
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page {
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}
