a {
  text-decoration: none;
}

.main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
  height: 100vh;
  min-height: 100%;
  background-color: #f6f9ff;
}

.title-table {
  white-space: nowrap;
}

@media (max-width: 1199px) {
  .main {
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .main,
  .footer {
    margin-left: 300px;
  }
}

.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}

.page {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.error {
  color: red;
  margin-left: 20px;
  font-size: 13px;
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}
