<div class="block2" (click)="goToProductDetail(product._id)">
  <div
    class="block2-pic hov-img0 label-new"
    *ngIf="product.sale > 0; else noSale"
    [attr.data-label]="'-' + product.sale + '%'"
  >
    <img class ="img" [src]="'https://backendqlshop-1.onrender.com/images/' + product.path" alt="IMG-PRODUCT" />

    <a
    (click)="goToProductDetail(product._id)"
      class="viewButton block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
    >
      Quick View
    </a>
  </div>
  <ng-template #noSale>
    <div class="block2-pic hov-img0">
      <img class ="img" [src]="'https://backendqlshop-1.onrender.com/images/' + product.path" alt="IMG-PRODUCT" />
      <a
      (click)="goToProductDetail(product._id)"
        class="viewButton block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
      >
        Quick View
      </a>
    </div>
  </ng-template>

  <div class="block2-txt flex-w flex-t p-t-14">
    <div class="block2-txt-child1 flex-col-l" style="width: 100%">
      <div 
        class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 name"
      >
        {{ product.name }}
      </div>

      <div class="price_block">
        <span class="stext-105 cl3 price" *ngIf="product.sale > 0">
          {{
            productSalePrice(product.price, product.sale)
          }}
        </span>
        <span
          class="stext-105 cl3 price"
          [ngClass]="{ priceOld: product.sale > 0 }"
        >
          {{ productSalePrice(product.price, 0) }}
        </span>
      </div>
    </div>

  </div>
</div>
