<div
  class="img js-fullheight"
  style="background-image: url(../../../assets/images/bg.jpg)"
>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">COZA STORE</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <h3 class="mb-4 text-center">Đặt lại mật khẩu</h3>
            <form
              class="signin-form"
              [formGroup]="formData"
              (submit)="onSubmit()"
            >
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  [ngClass]="{ 'form-control__error': isError }"
                  placeholder="Nhập mật khẩu của bạn"
                  formControlName="password"
                  (keyup)="onChange()"
                  required
                />
                <div
                  *ngIf="formData.controls?.['password']?.invalid  && (isFormSubmitted ||formData.controls?.['password']?.touched || formData.controls?.['password']?.dirty)"
                  class="text-danger d-flex gap-2 ml-2"
                >
                  <span
                    *ngIf="formData.controls?.['password']?.errors?.['required']"
                  >
                    Vui lòng nhập mật khẩu của bạn!
                  </span>
                </div>
              </div>

              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  [ngClass]="{ 'form-control__error': isError }"
                  placeholder="Xác nhận lại mật khẩu của bạn"
                  formControlName="passwordConfirm"
                  (keyup)="onChange()"
                  required
                />
                <div
                  *ngIf="formData.controls?.['passwordConfirm']?.invalid  && (isFormSubmitted ||formData.controls?.['passwordConfirm']?.touched || formData.controls?.['passwordConfirm']?.dirty)"
                  class="text-danger d-flex gap-2 ml-2"
                >
                  <span
                    *ngIf="formData.controls?.['passwordConfirm']?.errors?.['required']"
                    >Vui lòng nhập xác nhận mật khẩu của bạn!</span
                  >
                </div>
              </div>
              <div class="form-group">
                <button
                  type="submit"
                  class="form-control btn btn-primary submit px-3"
                  [disabled]="isLoading"
                >
                  {{ isLoading ? "Loading..." : "Xác nhận" }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</div>
